node_modules/
.expo/
.eas/
dist/
web-build/
build/
build-artifacts/
coverage/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision
*.orig
